body
{
    background-color: rgb(255, 127, 52);
}

.header
{
    /*
    background-image: linear-gradient(to bottom, rgb(206, 120, 8), rgb(255, 127, 52), rgb(206, 120, 8));
    */
    background-color: rgb(202, 88, 12);
}

#title
{
    text-align: center;
    font-family:Brush Script MT;
    color: rgb(104, 54, 8);
    font-size: 80px;
}
#picture 
{
    background-color: rgb(255, 127, 52);
}
#hicol
{
    text-align: center;
}
.hiimg
{
    width:95%;
    height:100%;
    transition:0.5s;
    padding: 10px;
}
.hiimg:hover
{
    width:100%;
}
.areaimg
{
    width:95%;
    height:100%;
    transition: 0.5s;
    padding: 10px;
}
.areaimg:hover
{
    width:100%;
}
#areacol
{
    text-align: center;
}
/*
.footer
{
    width: 100%;
    position: fixed;
    bottom:0;
    background-image: linear-gradient(to bottom, rgb(206, 120, 8), rgb(255, 127, 52), rgb(206, 120, 8));
}
*/
.footer
{
    background-color: #f39b28;
}

#team
{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 10px;
}
#ft
{
    text-align: center;
    color: rgb(255, 255, 255);
}


.button1 
{
    background-color: #ec931e;
    color: white;  
}
  
.button1:hover 
{
    background-color: white; 
    color: black; 
    border: 2px solid #94631b;  
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.3%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.3%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

#cardd
{
    background-color: rgb(255, 109, 104);
}
